<h1 id="goals"></h1>
<div class="page-header mb-4 mt-3">
    <h3>Writing Goals and Principles</h3>
</div>
<div class="row">
    <div class="col-12 p-0">
        <p>With every piece of content we publish, we aim to:</p>
        <ul>
          <li><b>Empower.</b> Help people understand Ura Design by using language that informs them and encourages them to make the most of our products.</li>
          <li><b>Respect.</b> Treat readers with the respect they deserve. Put yourself in their shoes, and don’t patronize them. Remember that they have other things to do. Be considerate and inclusive. Don’t market at people; communicate with them.</li>
          <li><b>Educate.</b> Tell readers what they need to know, not just what we want to say. Give them the exact information they need, along with opportunities to learn more. Remember that you’re the expert, and readers don’t have access to everything you know.</li>
          <li><b>Guide</b> Think of yourself as a tour guide for our readers. Whether you’re leading them through our website, apps, or educational materials, communicate in a friendly and helpful way.</li>
          <li><b>Speak truth.</b> Understand Ura's place in our customers’ lives. Avoid dramatic storytelling and grandiose claims. Focus on our real strengths.</li>
        </ul>
        <p>In order to achieve those goals, we make sure our content is:</p>
        <ul>
          <li><b>Clear.</b> Understand the topic you’re writing about. Use simple words and sentences.</li>
          <li><b>Useful.</b> Before you start writing, ask yourself: What purpose does this serve? Who is going to read it? What do they need to know?</li>
          <li><b>Friendly.</b> Write like a human. Don’t be afraid to break a few rules if it makes your writing more relatable. All of our content, from splashy homepage copy to system alerts, should be warm and human.</li>
          <li><b>Appropriate.</b> Write in a way that suits the situation. Just like you do in face-to-face conversations, adapt your tone depending on who you’re writing to and what you’re writing about.</li>
        </ul>
        </div>
    </div>
