        <div id="voice" class="mb-4">
        <h2 class="b-border">Voice and Tone</h2>
        <!--p class="text-muted">Some Description about buttons.</p-->
    </div>
        <div class="row">
            <div class="col-12 p-0">
                <p>We value privacy-empowering tools and our voice and tone should reinforce that notion.</p>
                <p>What’s the difference between voice and tone? Think of it this way: You have the same voice all the time, but your tone changes. You might use one tone when you're out to dinner with your closest friends, and a different tone when you're in a meeting with a journalist.</p>
                <p>Your tone also changes depending on the emotional state of the person you’re addressing. You wouldn’t want to use the same tone of voice with someone who’s scared or upset as you would with someone who’s laughing. Different threat models affect the way we perceive words afterall.</p>
                <p>At the end of the day, our voice doesn’t change much from day to day, but our tone changes all the time.</p>
                <ul>
                  <li><b>Voice</b> <br />SecureDrop's voice is straight-forward and precise. Our software is being used by journalists, researchers, whistleblowers and others, hence the way we communicate should leave no space for interpretation. Users often have high threat models and it's our responsibility to guide them through each step and indicate any possible limitations without giving a false sense of security when not possible to do so. We are aware that this approach lacks color and is not exactly casual, but we prioritize the safety of our users first to minimize any potential confusion when it comes to using our software.</li><br />
                  <li><b>Tone</b> <br />SecureDrop's tone is concise and formal. We build trust with users by being clear about the possibilities and limitations. We know users have special use cases and limited time and therefore have a clear and guiding tone, without belittling or patronizing users however. SecureDrop has a neutral tone whenever possible and avoids emotional language, casual jargon and jokes. Language can affect the way users perceive software and we want to ensure users make informed decisions and come to conclusions themselves.</li>
                </ul>
                </div>