<div id="assets" class="page-header mb-4 mt-5">
    <h2 class="b-border">Identity Assets</h2>
    <p class="text-muted">The SecureDrop Project brand assets are included here. Use them responsibly.</p>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="image border p-5">
            <img class="rb-contain" src="../assets/images/securedrop_horizontal_color.png">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">Default</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a target="_blank"
                 href="https://demo.identihub.co/assets/SecureDrop_ICONS_62.svg"
                 class="button btn btn-sm btn-outline-medium">Download SVG</a>
            </span>
        </p>

    </div>
    <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="image border p-5">
            <img class="rb-contain" src="../assets/images/securedrop_horizontal_black.png">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">Black</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a target="_blank"
                 href="https://demo.identihub.co/assets/SecureDrop_ICONS_5.svg"
                 class="button btn btn-sm btn-outline-medium">Download SVG</a>
            </span>
        </p>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="image border p-5 bg-dark">
          <img class="rb-contain" src="../assets/images/securedrop_horizontal_white.png">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">White</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a target="_blank"
                 href="https://demo.identihub.co/assets/SecureDrop_ICONS_6.svg"
                 class="button btn btn-sm btn-outline-medium">Download SVG</a>
            </span>
        </p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="image border p-5">
          <img class="rb-contain" src="../assets/images/securedrop_vertical_color.png">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">Default</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a target="_blank"
                 href="https://demo.identihub.co/assets/SecureDrop_ICONS_63.svg"
                 class="button btn btn-sm btn-outline-medium">Download SVG</a>
            </span>
        </p>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="image border p-5">
          <img class="rb-contain" src="../assets/images/securedrop_vertical_black.png">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">Black</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a target="_blank"
                 href="https://demo.identihub.co/assets/SecureDrop_ICONS_8.svg"
                 class="button btn btn-sm btn-outline-medium">Download SVG</a>
            </span>
        </p>
    </div>

    <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="image border p-5 bg-dark">
          <img class="rb-contain" src="../assets/images/securedrop_vertical_white.png">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">White</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a target="_blank"
                 href="https://demo.identihub.co/assets/SecureDrop_ICONS_9.svg"
                 class="button btn btn-sm btn-outline-medium">Download SVG</a>
            </span>
        </p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="image border p-5">
          <img class="rb-contain" src="../assets/images/securedrop_icon_color.png">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">Default</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a target="_blank"
                 href="https://demo.identihub.co/assets/SecureDrop_ICONS_1.svg"
                 class="button btn btn-sm btn-outline-medium">Download SVG</a>
            </span>
        </p>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="image border p-5">
          <img class="rb-contain" src="../assets/images/securedrop_icon_black.png">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">Black</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a target="_blank"
                 href="https://demo.identihub.co/assets/SecureDrop_ICONS_2.svg"
                 class="button btn btn-sm btn-outline-medium">Download SVG</a>
            </span>
        </p>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="image bg-dark border p-5">
          <img class="rb-contain" src="../assets/images/securedrop_icon_white.png">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">White</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a target="_blank"
                 href="https://demo.identihub.co/assets/SecureDrop_ICONS_3.svg"
                 class="button btn btn-sm btn-outline-medium">Download SVG</a>
            </span>
        </p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <div class="bg-box p-5 mb-3">
            <h6>SecureDrop repo</h6>
            <p class="m-0">Download SVG and PNG files</p>
            <a class="btn btn-lg btn-link p-0" title="SecureDrop Repo"
               href="https://github.com/uracreative/works/tree/master/Reproducible-Builds" target="_blank">Visit Repo</a></div>
    </div>
    <div class="col-md-6">
        <div class="bg-box p-5 text-left">
            <h6>Styleguide Mirror on Identihub</h6>
            <p class="m-0">Identihub Project</p>
            <a class="btn btn-lg btn-link p-0" href="https://demo.identihub.co/project/securedrop"
               target="_blank">Visit Project Page</a>
        </div>
    </div>
</div>
