<div id="colors" class="page-header mb-4">
  <h2 class="b-border">Colors</h2>
  <p class="text-muted">The main SecureDrop color is Light Blue. Use Dark Blue as a secondary option and Dark Red as accent color.</p>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-1 col-md-1 pl-1">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-primary text-white small">#045fb4</div>
    <h6 class="pt2 text-left">Blue</h6>
  </div>
  
  <div class="col-xs-12 col-sm-1 col-md-1 pl-1">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-secondary text-white small">#034482</div>
    <h6 class="pt2 text-left">Dark Blue</h6>
  </div>
  
  <div class="col-xs-12 col-sm-1 col-md-1 pl-1">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-warning text-black small">#fff7c9</div>
    <h6 class="pt2 text-left">Warning</h6>
  </div>
  
  <div class="col-xs-12 col-sm-1 col-md-1 pl-1">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-danger text-black small">#ffd8cc</div>
    <h6 class="pt2 text-left">Danger</h6>
  </div>
    
  <div class="col-xs-12 col-sm-1 col-md-1 pl-1">
	<div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-gray-0 text-black small">#f8f9fa</div>
    <h6 class="pt2 text-left">Gray 0</h6>
  </div>
  <div class="col-xs-12 col-sm-1 col-md-1 pl-1">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-gray-3 text-black small">#dee2e6</div>
    <h6 class="pt2 text-left">Gray 3</h6>
   </div>
  <div class="col-xs-12 col-sm-1 col-md-1 pl-1">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-gray-6 text-white small">#868e96</div>
    <h6 class="pt2 text-left">Gray 6</h6>
  </div>
    <div class="col-xs-12 col-sm-1 col-md-1 pl-1">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-gray-9 text-white small">#212529</div>
    <h6 class="pt2 text-left">Gray 9</h6>
  </div>
  </div>
