<h1 id="icons"></h1>
<div class="page-header mb-4 mt-5">
    <h2 class="b-border">Icons</h2>
</div>
<div class="mt-3">
            <div class="row">
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-help text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Help</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-mail text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Mail</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-plugin text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Plugin</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-router text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Router</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-dashboard text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Dashboard</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-bandwidth text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Bandwidth</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-server text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Server</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-paste text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Paste</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-bug text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Bug</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-docs text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Docs</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-address text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Address Book</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-wiki text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Wiki</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-sync text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Sync</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-power text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Power</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-directory text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Directory</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-fingerprint text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Fingerprint</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-alert text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Alert</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-valid text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Valid</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-fast text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Fast</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <div class="">
                        <span class="icon-i2p-anon text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Anonymous</span>
                    </div>
                </div>
                
                

            </div>
        </div>