<h1 id="icons"></h1>
<div class="page-header mb-4 mt-5">
    <h2 class="b-border">Icons</h2>
</div>
<div class="mt-3">
            <div class="row">
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                        <img src="{{ site.baseurl }}/assets/images/icons/delete.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Delete</span>
                    </div>
                </div>
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/times.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Times</span>
                    </div>
                </div>
                                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/lock.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Lock</span>
                    </div>
                </div>
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/info.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Circle Info</span>
                    </div>
                </div>

                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/info i.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Info</span>
                    </div>
                </div>

                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/globe.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Globe</span>
                    </div>
                </div>

                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/triangle.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Triangle</span>
                    </div>
                </div>
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/cloud.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Upload</span>
                    </div>
                </div>
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/circle-arrow-right.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Right Arrow</span>
                    </div>
                </div>
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/comments.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Comments</span>
                    </div>
                </div>
                
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/refresh.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Refresh</span>
                    </div>
                </div>

                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/star.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Star</span>
                    </div>
                </div>
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/un-star.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Un-star</span>
                    </div>
                </div>
                
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/success.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Success</span>
                    </div>
                </div>

                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/delete-gray.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Remove</span>
                    </div>
                </div>
                
                <div class="col-1 col-sm-1 text-center pt-1 pb-1">
                    <img src="{{ site.baseurl }}/assets/images/icons/face.png" />
                    <div class="mb-1 text-center">
                        <span style="font-size: 0.7rem">Face</span>
                    </div>
                </div>

            </div>
        </div>
