<h1 id="typography"></h1>
<div class="page-header mb-4 mt-5">
    <h3>Typography</h3>
    <p class="text-muted">Our main typography is Overpass made by Red Hat.</p>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-black small text-muted">H1</p>
        <h1>Share and accept documents securely</h1>
        <p class="text-black small text-muted">H2</p>
        <h2>Share and accept documents securely</h2>
        <p class="text-black small text-muted">H3</p>
        <h3>Share and accept documents securely</h3>
        <p class="text-black small text-muted">H4</p>
        <h4>Share and accept documents securely</h4>
        <p class="text-black small text-muted">H5</p>
        <h5>Share and accept documents securely</h5>
        <p class="text-black small text-muted">H6</p>
        <h6>Share and accept documents securely</h6>

        <p class="text-black small pt-5 text-muted">H1 display</p>
        <h1 class="color-primary">SecureDrop</h1>
        <p class="text-black small text-muted">H2 display</p>
        <h2 class="color-primary">SecureDrop</h2>
        <p class="text-black small text-muted">H3 display</p>
        <h3 class="color-primary">SecureDrop</h3>
        <p class="text-black small text-muted">H4 display</p>
        <h4 class="color-primary">SecureDrop</h4>
    </div>
</div>
<div class="row pt-5">
    <div class="col-md-5">
        <p class="text-black small">
            <span class="text-left color-gray-2 rb-isBold">Paragraph</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">Overpass Regular</span>
        </p>
        <p>
            SecureDrop is an open source whistleblower submission system that media organizations can install to <mark>securely accept documents</mark> from anonymous sources.
        </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <p class="text-black small">
            <span class="text-left color-gray-2 rb-isBold">Code Snippet</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">Overpass Mono</span>
        </p>
        <pre class="bg-light p-2 prettyprint rb-code" style="border: none;">
          $('.rb-sidebar').on('click', 'a',function() {
              $('.rb-sidebar a.active').removeClass('active');
              $(this).addClass('active');
          });
        </pre>
    </div>
</div>
