<head>
  <meta charset="utf-8">
  <title>{{site.title}}</title>
  <link rel="stylesheet" href="{{'/assets/styles/main.css' | prepend: site.baseurl}}">
  <link rel="shortcut icon" type="image/png" href="{{'/assets/images/favicon.png' | prepend: site.baseurl}}"/>
  <link href="{{'/assets/fonts/firasans.css' | prepend: site.baseurl}}" rel="stylesheet">
  <link href="{{'/assets/fonts/firamono.css' | prepend: site.baseurl}}" rel="stylesheet">
  <link rel="stylesheet" href="{{'/assets/static/open-iconic-bootstrap.css' | prepend: site.baseurl}}" />
  <link rel="stylesheet" href="{{'/assets/static/bootstrap.min.css' | prepend: site.baseurl}}">
  <link rel="stylesheet" href="{{'/assets/static/all.min.css' | prepend: site.baseurl}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <noscript>
    <style type="text/css">
        .code-snippet {display:block;}
        .snippets,.slider-round,.switch,.toggle {display:none;}
    </style>
</noscript>
</head>
