<div class="sidebar {{include.sidebarClassName}}" id="sidebar1">
  <ul class="col-md-2 col-sm-16 col-xs-12 p-0 list-group pt-3">
    <a href="{{site.baseurl}}/" class="sidebar__link__darkGray">
      <li class="list-group-item rb-main-sidebar">About</li>
    </a>

    <a href="{{site.baseurl}}/getting-started/" class="sidebar__link__darkGray">
      <li class="list-group-item rb-main-sidebar">Getting Started</li>
    </a>

    <a href="{{site.baseurl}}/visuals/" class="sidebar__link__darkGray">
      <li class="list-group-item rb-main-sidebar">Visuals</li>
    </a>

    <a href="{{site.baseurl}}/components/" class="sidebar__link__darkGray">
      <li class="list-group-item rb-main-sidebar">Components</li>
    </a>

    <a href="{{site.baseurl}}/copywriting/" class="sidebar__link__darkGray">
      <li class="list-group-item rb-main-sidebar">Copywriting</li>
    </a>
  </ul>
</div>
