<div class="sidebar {{include.sidebarClassName}}" id="sidebar1">
  <ul class="col-md-2 col-sm-16 col-xs-12 p-0 list-group pt-3">
    <li class="list-group-item rb-main-sidebar">
      <a href="{{site.baseurl}}/" class="sidebar__link__darkGray">About</a>
    </li>

    <li class="list-group-item rb-main-sidebar">
      <a href="{{site.baseurl}}/getting-started/" class="sidebar__link__darkGray">Getting Started</a>
    </li>

    <li class="list-group-item rb-main-sidebar">
      <a href="{{site.baseurl}}/visuals/" class="sidebar__link__darkGray">Visuals</a>
    </li>

    <li class="list-group-item rb-main-sidebar">
      <a href="{{site.baseurl}}/components/" class="sidebar__link__darkGray">Components</a>
    </li>
  </ul>
</div>
