<script src="{{'/assets/javascript/modernizr.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/jquery-3.3.1.slim.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/javascript/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<!-- <script src="{{'/assets/javascript/run_prettify.js' | prepend: site.baseurl}}"></script> /* -->
<script type="text/javascript" src="/securedrop-styleguide/assets/javascript/index.js"></script>
