<h1 id="scrollspy"> </h1>
<div class="page-header mb-4 mt-5 d-none d-sm-none">
    <h3>Scrollspy</h3>
    <!--p class="text-muted">Some Description about scrollspy.</p-->
</div>
<div class="row p-0 pt-5 bg-light d-none d-sm-none">
    <div class="bd-example">
        <div class="row">
            <div class="col-4">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action active" href="https://reproducible-builds.org/">Reproducible builds</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">Second Link</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">Third Link</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">Forth Link</a>
                </div>
            </div>
            <div class="col-8">
                <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad autem error eum inventore laboriosam necessitatibus nobis numquam praesentium quae tempore. Dignissimos minima rerum tenetur vel vero! Eius molestias natus nesciunt!
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dropdown-divider mt-5 wi"></div>

<div class="row">
    <div class="col-12 p-0">
        <p class="mt-5 mb-5">
            <span class="text-muted small"> Styleguide code licensed under <a href="https://opensource.org/licenses/MIT" class="rb-link" title="MIT" target="_blank">MIT</a>, documents licensed under a <a href="https://creativecommons.org/licenses/by/3.0/us/" title="CC 3.0" target="_blank">Creative Commons Attribution 3.0 United States License</a>. Reproducible Builds are a set of software development practices that create an independently-verifiable path from source code to the binary code used by computers. <br>Templates and styles based on the <a href="https://styleguide.torproject.org/" target="_blank">Tor Styleguide</a>.</span>
        </p>
    </div>
</div>
