.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400 !important;
}

.border-left-right {
    // z-index: 99;
    border-right: 1px solid $oc-gray-3 !important;
}

.sidebar {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  border-right: 1px solid $oc-gray-3 !important;

  // position: fixed;

  & .list-group {
    position: fixed;
    // width: 23vw;
  }

  & .list-group-item {
    background-color: transparent !important;
    border: 0;
    border-radius: 0 !important;
    font-size: 1rem;
    font-weight: 400 !important;
    padding-left: 1.1rem !important;
  }
}

.sidebar-wrapper {
  background-color: $oc-gray-3;
}

.sidebar__link__darkGray {
  color: $oc-gray-6 !important;

  &:hover {
    color: $oc-black !important;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
  }

  &:active {
    color: $primary !important;
  }
}

.rb-sidebar__2 {
  background-color: #F8F9FA !important;
}

.row {
  margin: auto !important;
}

.active,
.active:hover {
 // background-color: $oc-gray-3 !important;
//	box-shadow: inset 5px 0 $primary;

  & * {
    color: $primary !important;
  }
}

.rp-navbar__top {
  background-color: $primary;
}

.rb-contain {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.max-width-150 {
  max-width: 150px;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-top-18 {
  padding-top: 18px;
}

.align-horizontally {
  display: flex;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.hidden-sm {
  display: block;
}

@media screen and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

.sidebar-fill {
  width: 12.45%;
}

.list-group-item:focus,
.list-group-item:hover {
  //  background-color: $oc-gray-2 !important;

	 & * {
		 color: $primary;
	 }
}
.list-group-item.active {
	color: $primary !important;
}

.rb-sidebar__2 .list-group-item {
  width: 100%;
}

.bg {
	&-primary {
		background-color: $primary !important;
	}
	&-secondary {
		background-color: $secondary !important;
	}
}

.bg-box {
  background-color: #f1f3f5 !important;
}

.b-border {
  border-bottom: 2px solid lightgrey !important;
}
