.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400 !important;
}

.border-left-right {
    // z-index: 99;
    border-left: 1px solid $oc-gray-3 !important;
    border-right: none;
}

.sidebar {
  min-height: 100vh;
  height: 100%;
  width: 100%;

  // position: fixed;

  & .list-group {
    position: fixed;
    // width: 23vw;
  }

  & .list-group-item {
    background-color: transparent;
    border: 0;
    border-radius: 0 !important;
    font-size: 0.95rem;
    // border-color: $oc-gray-4;
  }

  & .list-group-item.active {
    background-color: $oc-gray-3 !important;
    border-left: 5px solid $primary;
    border-radius: 0 !important;
    font-weight: normal !important;
    padding-left: 0.95rem !important;
    // border-color: $oc-gray-4;
  }
}

.sidebar-wrapper {
  background-color: $oc-gray-2;
}

.sidebar__link__darkGray {
  color: $oc-gray-8 !important;

  &:hover {
    color: $primary !important
    // color: $oc-gray-8 !important;
  }
}

#sidebar-left {
  .sidebar__link__darkGray.active {
    .list-group-item {
      padding-left: 0.95rem;
    }
  }
}

.row {
  margin: auto !important;
}

.active, .active:hover {
  background-color: $oc-gray-3 !important;
  border-left: 5px solid $secondary !important;
  color: $secondary !important;
  width: 74.6%;

  & * {
    color: $secondary !important;
  }
}

.rp-navbar__top {
  background-color: $primary;
}

.rb-sidebar__1 {
  background-color: $oc-gray-1;
}

.rb-sidebar__2 {
  background-color: $oc-gray-0;
}

.rb-contain {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.max-width-150 {
  max-width: 150px;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-top-18 {
  padding-top: 18px;
}

.align-horizontally {
  display: flex;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}


.hidden-sm {
  display: block;
}

@media screen and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

.sidebar-fill {
  width: 12.45%; 
}

.list-group-item:focus, .list-group-item:hover {
  background-color: $oc-gray-2 !important;
}

.sidebar .list-group-item {
  width: 74.6%;
}

.rb-sidebar__2 .list-group-item {
  width: 100%;
}

.bg-box {
  background-color: #f1f3f5 !important;
}

.b-border {
  border-bottom: 2px solid lightgrey !important;
}