@media (min-width: 992px) {
   .display-xs {
     display: none !important;
   }
 }

 @media (max-width: 992px) {
    .display-md {
      display: none !important;
    }
  }

.display-md {
  display: unset;
}
