<div class="page-header mb-4">
        <h2 id="alerts" class="b-border">Alerts</h2>
        <p class="text-muted">Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>
    </div>
    <div class="row p-5 bg-light">
      <p>Styles:</p>
        <div class="col-12 alert alert-primary" role="alert">
            <p class="mb-0">Heads up! This alert needs your attention, but it's not super important.</p>
        </div>
        <div class="col-12 alert alert-secondary" role="alert">
            <p class="mb-0">Well done! This alert will show you some extra information.</p>
        </div>
        <div class="col-12 alert alert-success" role="alert">
            <p class="mb-0">Well done! You successfully read this important alert link message.</p>
        </div>
        <div class="col-12 alert alert-warning" role="alert">
            <p class="mb-0">Warning! Better check yourself, you're not looking too good.</p>
        </div>
        <div class="col-12 alert alert-danger" role="alert">
            <p class="mb-0">This is a danger alert — check it out!</p>
        </div>
        <p>With close button:</p>
        <div class="col-12 alert alert-success" role="alert">
          <button class="btn-close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <p class="mb-0">Well done! You successfully read this important alert link message.</p>
        </div>
        <p>Global alert:</p>
        <div class="col-12 alert alert-success global" role="alert">
            <p class="mb-0">Well done! You successfully read this important messge.</p>
        </div>
        <div class="col-12 alert alert-success" role="alert">
                    <h4 class="alert-header">Well done!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                    <hr>
                    <p class="mb-0">Also some extra text and a <a href="#alerts" class="alert-link">link</a>.</p>
        </div>
    </div>
