<div class="page-header mb-4 mt-5">
    <h2 id="badges" class="b-border">Badges</h2>
    <p class="text-muted mt-3">Press any line to get the code snippet.</p>
</div>
<div class="row p-5 bg-light">
	  <p class="text-muted pl-3">Toggle Snippet
      <label class="switch">
	  <input class="snippets" type="checkbox">
	  <span class="slider round"></span>
	  </label>
	  </p>
    <div class="col-12">
        <h2>Example heading <span class="badge badge-primary">New</span></h2>
         <div>
        <pre class="bg-light p-2 mt-3 mr-5 prettyprint rb-code code-snippet" style="border: none;">
.badge-primary {
display: inline-block;
padding: .25em .4em;
font-size: 75%;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25rem;
color: #fff;
background-color: #045fb4 !important;}</pre></div>
    </div>
    <div class="col-12">
        <h4 class="pt-4 snippet">Example heading <span class="badge badge-secondary">New</span></h4>
          <div>
        <pre class="bg-light p-2 mt-3 mr-5 prettyprint rb-code code-snippet" style="border: none;">
.badge-secondary {
display: inline-block;
padding: .25em .4em;
font-size: 75%;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25rem;
color: #fff;
background-color: #034482 !important}</pre></div>
    </div>
    <div class="col-12">
        <h6 class="pt-4 snippet">Example heading <span class="badge-pill badge-primary">New</span></h6>
                 <div>
        <pre class="bg-light p-2 mt-3 mr-5 prettyprint rb-code code-snippet" style="border: none;">
.badge-pill {
display: inline-block;
padding-right: .6em;
padding-left: .6em;
border-radius: 10rem;
font-size: 75%;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
color: #fff;
background-color: #045fb4 !important;}</pre></div>
    </div>
</div>
