<div class="page-header mb-4 mt-5">
    <h2 id="badges" class="b-border">Badges</h2>
    <!--p class="text-muted">Some Description about badges.</p-->
</div>
<div class="row p-5 bg-light">
    <div class="col-12">
        <h2>Example heading <span class="badge badge-primary">New</span></h2>
    </div>
    <div class="col-12">
        <h4 class="pt-4">Example heading <span class="badge badge-secondary">New</span></h4>
    </div>
    <div class="col-12">
        <h6 class="pt-4">Example heading <span class="badge-pill badge-primary">New</span></h6>
    </div>
</div>
