<div id="buttons" class="mb-4">
    <h3>Buttons</h3>
    <!--p class="text-muted">Some Description about buttons.</p-->
</div>
<div class="row bg-light p-5">
    <div class="col-xs-12 col-sm-6 col-md-6 p-1">
        <p class="text-black small text-muted m-0 pb-2">Primary</p>
        <button type="button" class="btn btn-lg btn-primary mr-2">Primary</button>
        <p class="text-black small text-muted m-0 pt-2 pb-2">Ghost</p>
        <button type="button" class="btn btn-lg btn-outline-primary mr-2">How to Contribute</button>
        <p class="text-black small text-muted m-0 pt-2">Link</p>
        <button type="button" class="btn btn-lg btn-link mr-2">Learn more</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 p-1">
        <p class="text-black small text-muted m-0 pt-2 pb-2">Medium</p>
        <button type="button" class="btn btn-primary mr-2">Primary</button>
        <button type="button" class="btn btn-outline-primary mr-2">Ghost</button>
        <button type="button" class="btn btn-link mr-2">Link</button>
        <p class="text-black small text-muted m-0 pt-2 pb-2">Small</p>
        <button type="button" class="btn btn-sm btn-primary mr-2">Primary</button>
        <button type="button" class="btn btn-sm btn-outline-primary mr-2">Ghost</button>
        <button type="button" class="btn btn-sm btn-link mr-2">Link</button>
    </div>
</div>
