<div class="page-header mb-4 pt-5">
    <h3 id="footer">Footer</h3>
</div>

<div class="footer col-12 p-5 background-primary text-white">
	<div class="footer__wrapper col-lg-10 col-md-12 mx-auto" id="<++>">
		<div class="row" id="footer-lists">
			<ul class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<span>SecureDrop</span>
				<li><a href="#">Donate</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">News</a></li>
			</ul>
			<ul class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<span>Links</span>
				<li><a href="#">Contribute</a></li>
				<li><a href="#">Contact Form</a></li>
				<li><a href="#">SecureDrop Demo</a></li>
			</ul>
			<ul class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<span>Signing Key</span>
				<li><a href="https://securedrop.org/documents/1/securedrop-release-key.asc">2224 5C81 E3BA EB41 38B3 6061 310F 5612 00F4 AD77</a></li>
			</ul>
			<ul class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">
				<span>Follow us</span>
				<div class="footer__social-media" >
					<li class="footer__social-media-icon " ></li>
					<li class="footer__social-media-icon" ></li>
					<li class="footer__social-media-icon" ></li>
			</div>
			</ul>
		</div>
		<div class="spacer col-12" id=""></div>
		<div class="footer-extras row">
			<div class="col-lg-2 col-md-4 col-sm-6" >
				<img src="{{site.baseurl}}/assets/images/icon.svg" class="img-fluid" />
			</div>
			<div class="col-md-8 col-sm-12" >
                <p>© 2018 SecureDrop <br />
                    Content available under a Creative Commons license.</p>
			</div>
		</div>
	</div>
</div>
