<h1 id="forms"> </h1>
<div class="page-header mb-4 mt-5">
    <h2 class="b-border">Forms</h2>
      <p class="text-muted toggle pt-2">Toggle Snippets
      <label class="switch">
	  <input class="snippets" type="checkbox">
	  <span class="slider round"></span>
	  </label></p>
</div>
<div class="row">
    <form class="bg-light p-5 col-sm-6">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Check me out
            </label>
        </div>
        <button type="submit" class="btn btn-medium mt-4" onclick="return false;">Submit</button>
        
        <pre class="bg-grey p-2 mt-3 mr-5 mb-0 prettyprint rb-code code-snippet" style="border: none;">
.form-group {
margin-bottom: 1rem;}

label {
display: inline-block;
margin-bottom: .5rem;}

.form-control {
display: block;
width: 100%;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;}

button, input {
overflow: visible;}

.form-text {
display: block;
margin-top: .25rem;
color: #6c757d !important;}

.form-check {
position: relative;
display: block;
padding-left: 1.25rem;}

.form-check-label {
margin-bottom: 0;}
   </pre>
    </form>
</div>
