<div id="header" class="mb-4 pt-5">
        <h2>Header</h2>
    </div>
    <div class="bg-light p-5" id="">
    <nav class="navbar navbar-expand-lg navbar-light border-bottom align-items-end pb-0" id="styleguide-nav">
      <a class="navbar-brand mr-5" href="https://securedrop.org">
        <img src="{{site.baseurl}}/assets/images/logo.svg" class="my-2" height="40" width="auto" alt=""/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#SGnavSupportedContent" aria-controls="SGnavSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="SGnavSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item pb-2">
            <a class="nav-link mx-1 text-capitalize font-weight-bold" href="#">Overview</a>
          </li>
          <li class="nav-item pb-2">
            <a class="nav-link mx-1 text-capitalize font-weight-bold" href="#">SecureDrops</a>
          </li>
          <li class="nav-item pb-2">
            <a class="nav-link mx-1 text-capitalize font-weight-bold" href="#">News</a>
          </li>
          <li class="nav-item pb-2">
            <a class="nav-link mx-1 text-capitalize font-weight-bold" href="#">Contribute</a>
          </li>
          <li class="nav-item pb-2">
            <a class="nav-link mx-1 text-capitalize font-weight-bold" href="#">Donate</a>
          </li>
          <li class="nav-item pb-2">
                <a class="nav-link mx-1 text-capitalize font-weight-bold" href="#">FAQ</a>
             </li>
            </ul>
        </div>
    </nav>
    </div>
    