<h1 id="pagination"></h1>
<div class="page-header mb-4 mt-5">
    <h2 class="b-border">Pagination</h2>
    <!--p class="text-muted">Some Description about pagination.</p-->
</div>
<div class="row bg-light p-5">
    <nav aria-label="...">
        <ul class="pagination m-0">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#" onclick="return false;">1</a></li>
            <li class="page-item">
                <span class="page-link rb-paginate-active">
	                2<span class="sr-only">(current)</span>
                </span>
            </li>
            <li class="page-item"><a class="page-link" href="#" onclick="return false;">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" onclick="return false;">Next</a>
            </li>
        </ul>
    </nav>
</div>
