<div class="mt-5" id="tables">
    <h2 class="b-border">Tables</h2>
      <p class="text-muted toggle pt-2">Toggle Snippets
      <label class="switch">
	  <input class="snippets-buttons" type="checkbox">
	  <span class="slider round"></span>
	  </label></p>
    <div class="row mt-5">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Star</th>
                <th scope="col">Details</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row"><button class="btn-star" type="submit"><i class="fas fa-star"></i></button> <input id="checkbox" type="checkbox">  twenty-seventh motif</td>
                <td scope="row"><a class="btn-default" ><i class="fas fa-download"></i> 2 unread</a></td>
                <td scope="row"><button class="btn-time">8 hours ago</button></td>
            </tr>
            <tr>
                <td scope="row"><button class="btn-star" type="submit"><i class="fas fa-star"></i></button> <input id="checkbox" type="checkbox">  crushing charge</td>
                <td scope="row"><a class="btn-default" ><i class="fas fa-download"></i> 1 unread</a></td>
                <td scope="row"><button class="btn-time">12 hours ago</button></td>
            </tr>
            <tr>
                <td scope="row"><button class="btn-star" type="submit"><i class="fas fa-star"></i></button> <input id="checkbox" type="checkbox">  open-ended boilerplate</td>
                <td scope="row"><a class="btn-default" ><i class="fas fa-download"></i> 7 unread</a></td>
                <td scope="row"><button class="btn-time">9 hours ago</button></td>
            </tr>
            </tbody>
        </table>
        <pre class="bg-grey p-2 mt-3 mr-5 mb-0 prettyprint rb-code code-snippet-2" style="border: none;">
.table {
width: 100%;
max-width: 100%;
margin-bottom: 1rem;
background-color: transparent;}

table {
border-collapse: collapse;}

.table thead th {
vertical-align: bottom;
border-bottom: 2px solid #dee2e6;}

.table-striped tbody tr:nth-of-type(2n+1) {
background-color: rgba(0, 0, 0, .05);}

.table td, .table th {
padding: .75rem;
vertical-align: top;
border-top: 1px solid #dee2e6;}</pre>
    </div>
</div>
