<div class="mt-5" id="tables">
    <h2 class="b-border">Tables</h2>
    <div class="row mt-5">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Star</th>
                <th scope="col">Details</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row"><button class="button-star" type="submit"><i class="fas fa-star"></i></button> <input id="checkbox" type="checkbox">  twenty-seventh motif</td>
                <td scope="row"><i class="far fa-file-archive"></i> 0 docs <i class="far fa-file-alt"></i> 2 messages <a class="btn-default" ><i class="fas fa-download"></i> 2 unread</a></td>
                <td scope="row"><button class="btn-time">8 hours ago</button></td>
            </tr>
            <tr>
                <td scope="row"><button class="button-star" type="submit"><i class="fas fa-star"></i></button> <input id="checkbox" type="checkbox">  crushing charge</td>
                <td scope="row"><i class="far fa-file-archive"></i> 1 doc <i class="far fa-file-alt"></i> 0 messages <a class="btn-default" ><i class="fas fa-download"></i> 1 unread</a></td>
                <td scope="row"><button class="btn-time">12 hours ago</button></td>
            </tr>
            <tr>
                <td scope="row"><button class="button-star" type="submit"><i class="fas fa-star"></i></button> <input id="checkbox" type="checkbox">  open-ended boilerplate</td>
                <td scope="row"><i class="far fa-file-archive"></i> 1 doc <i class="far fa-file-alt"></i> 1 message <a class="btn-default" ><i class="fas fa-download"></i> 7 unread</a></td>
                <td scope="row"><button class="btn-time">9 hours ago</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
